* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTM2fHx8ZW58MHx8fHx8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}


.overlay {
    min-height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: relative;
}

.text {
    width: 100%;
    bottom: 20%;
    position: absolute;
    padding: 0 10vw;
    display: flex;
    color: rgba(255, 255, 255, 0.801);
    justify-content: space-between;
    align-items: center;
}

.text h1 {
    font-size: 6vw;
    font-weight: 600;
}

.textright {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textright p {
    font-size: 14px;
    width: 40%;
}
.icon i {
    margin-right: 3px;
}

.bottom {
    width: 100%;
    min-height: 40vh;
    display: flex;
}

.bone {
    width: 25%;
    min-height: inherit;
    padding: 3em;
}

.bone p {
    font-size: 16px;
    margin-top: 20px;
}

.bone h3 {
    color: #b1b0b2;
}

.btwo {
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWx8ZW58MHwxfDB8fHww);
    background-size: cover;
    background-position: center;
}

.bthree {
    width: 20%;
    min-height: inherit;
}

.bthreetop {
    width: 100%;
    min-height: 20vh;
    background-color: #ff3800;
    color: white;
    padding: 2rem;
}

.bthreetop p {
    font-size: 14px;
    margin-top: 20px;
}


.bthreebottom {
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1621784563330-caee0b138a00?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fG1vZGVsfGVufDB8MXwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: 50% 20%;
}

.bfour {
    width: 30%;
    min-height: inherit;
    background-color: #1f1f1f;
    color: white;
    padding: 30px;
}

.notif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1563751406696-fe859053d2fa?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cm91bmQlMjBwaG90b3xlbnwwfDF8MHx8fDA%3D);
    background-size: cover;
    margin-right: 10px;
    background-position: center;
}

.notif p {
    width: 86%;
    font-size: 13px;
}

@media (max-width:600px) {
    .overlay .text {
        flex-direction: column;
        align-items: flex-start;
    }

    .overlay .text .textright {
        align-items: flex-start;
        flex-direction: column;
    }

    .overlay .text .textright p {
        width: initial;
        margin-top: 20px;
    }

    .overlay .text .textright .icon {
        margin-top: 30px;
    }

    .text h1 {
        font-size: 10vw;
    }

    .bottom {
        flex-direction: column;
    }

    .bone {
        width: 100%;
    }

    .btwo {
        width: 100%;
        min-height: 40vh;
    }

    .bthree {
        flex-direction: column;
        width: 100%;

    }

    .bfour {
        width: 100%;
    }

    .bottom {
        min-height: 20vh;
    }

    .bthreebottom {
        min-height: 40vh;
    }



}
